<% return unless @show_default_creds_warning %>
<div class="wr">
  <h4 style="text-align:center;color:red">You are still using the default username/password.<br />We strongly recommend that you change it in your config/kilt/creds.yml file.</h4>
</div>
