<header class="hd">
    <div class="wr">
        <h6><a href="/admin"><%= Kilt.config.name %></a></h6>
        <a class="button small dashboard" href="/admin">Dashboard</a>
        <!--
        <div class="user">
            <span class="greeting">Hello, <span class="user-name">Decimus Meridius</span></span>
            <a class="button log-out">Log out</a>
        </div>
         -->
    </div>
</header>
