<header class="hd">
    <div class="wr">
        <h6><a href="<%= kilt_engine.root_path %>"><%= Kilt.config.name %></a></h6>
        <a class="button dashboard home" href="<%= kilt_engine.root_path %>">Admin Home</a>
    </div>
</header>
