<header class="hd">
    <div class="wr">
        <h6><a href="/admin"><%= Kilt.config.name %></a></h6>
        <a class="button small dashboard" href="/admin">Dashboard</a>
        <% Kilt.types.each do |type| %>
          <%= link_to type.pluralize.capitalize, list_path(type.pluralize), class: "button small dashboard" %>
        <% end %>
    </div>
</header>
