<header class="hd">
    <div class="wr">
        <h6><a href="<%= kilt_engine.root_path %>"><%= Kilt.config.name %></a></h6>
        <a class="button small dashboard" href="<%= kilt_engine.root_path %>">Dashboard</a>
        <% Kilt.types.each do |type| %>
          <% 
              if Kilt.send(type).name != nil
                  name = Kilt.send(type).name
              else
                  name = type.pluralize.humanize.split(' ').map { |x| x.capitalize }.join(' ')
              end
          %>
          <%= link_to name, list_path(type.pluralize), class: "button small dashboard" %>
        <% end %>
    </div>
</header>
