db:
  host: <DB host>
  port: <DB port>
  db: <DB database>
s3:
  key: <S3 key>
  secret: <S3 secret>
  bucket: <S3 bucket>
auth:
  username: admin
  password: changeme
default_auth:
  username: admin
  password: changeme
  note: "Feel free to remove default_auth when you change your username/password"
