@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/sprites/base";

/* colors */
$purple     : #b344f3;
$dark_grey  : #404040;
$med_grey   : #dbe0e2;
$light_grey : #ecf0f1;
$black      : #000;
$red        : #e74c3c;
$green      : #1abc9c;

/* transition variables */
$speed      : .1s;
$ease       : ease-out;

@import "_mixins";
@import "_typography";
@import "_layout";
@import "_buttons";
@import "_tables";
@import "_form";
@import "modules/_jquery_ui";
@import "modules/_codemirror";