.button {
    @include border-radius(3px);
    @include transition(background $speed $ease, color $speed $ease);
    background: $purple;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    margin: 0 7px 0 0;
    padding: 0 10px;

    &:hover {
        background: #fff;
        color: $purple;
    }
}

.button.small {
    font-size: 14px;
}

.button.edit {
    background: $purple;

    &:hover {
        background: #fff;
        color: $purple;
    }
}

.button.back {
    background: $med_grey;
    color: $dark_grey;

    &:hover {
        background: #fff;
        color: $purple;
    };
}

.button.delete {
    background: #fff;
    color: $red;

    &:hover {
        background: $red;
        color: #fff;
    }
}

.nav .button {
    background: rgba(255,255,255,.15);

    &:hover {
        background: rgba(255,255,255,.33);
        color: #fff;
    }
}