table {
    background: #fff;
    width: 100%;
}

tr:hover {
    @include transition(background $speed $ease);
    background: rgba(179, 68, 243, .03);
}

th,
td {
    padding: 15px 30px;
}

th {
    background: $med_grey;

    h4 {
        margin: 0;
    }
}

td {
    border-bottom: 2px solid $light_grey;
}

    td.actions {
        text-align: right;

        .button {
            margin: 0 5px 0 0;
        }

        .button:last-child {
            margin: 0;
        }
    }

    td.title .edit {
        color: $dark_grey;

        &:hover {
            color: $purple;
        }
    }

th.hidden {
    text-indent: -9999em;
}

@media (max-width: 1120px) {
    table {
        font-size: 14px;
    }
}

@media (max-width: 920px) {
    th.updated,
    td.updated,
    th.created,
    td.created {
        display: none;
    }
}