/* line 17, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Users/benwalker/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/modules/_reset_custom.scss */
*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 12, ../sass/modules/_reset_custom.scss */
a,
input[type="submit"] {
  cursor: pointer;
}

/* line 17, ../sass/modules/_reset_custom.scss */
input,
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 22, ../sass/modules/_reset_custom.scss */
strong,
b {
  font-weight: bold;
}

/* line 26, ../sass/modules/_reset_custom.scss */
em,
i {
  font-style: italic;
}

/* line 29, ../sass/modules/_reset_custom.scss */
iframe {
  display: block;
}

/* line 3, ../sass/modules/_typography.scss */
*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 12, ../sass/modules/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

/* line 19, ../sass/modules/_typography.scss */
h1, h2, h3, h4, h5, h6, p, table {
  margin: 0 0 30px;
}

/* line 23, ../sass/modules/_typography.scss */
h1 {
  font-size: 48px;
  font-weight: 300;
}

/* line 28, ../sass/modules/_typography.scss */
h2 {
  font-size: 36px;
  margin: 30px 0;
}

/* line 33, ../sass/modules/_typography.scss */
h3, h4, h5, h6 {
  font-size: 24px;
}

/* line 1, ../sass/views/_layout.scss */
.body {
  font-family: 'OpenSans';
}

/* line 4, ../sass/views/_layout.scss */
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
