<div class="wr">
    <h2>Objects</h2>

    <ul class="object-list">
        <% @types.each do |type| %>
            <li><%= link_to type.pluralize.capitalize, list_path(type.pluralize) %></li>
        <% end %>
    </ul>
</div>