<div class="wr">
    <ul class="object-list">
        <% @types.each do |type, _| %>
            <% name = Kilt::Formatting.plural_name_of(type) %>
            <li><%= link_to name, list_path(type.pluralize) %></li>
        <% end %>
    </ul>
</div>
