<div class="wr">
    <h2>Dashboard</h2>

    <ul class="object-list">
        <% @types.each do |type, name| %>
            <% name = name.pluralize.split('_').map { |x| x.capitalize }.join(' ') %>
            <li><%= link_to name, list_path(type.pluralize) %></li>
        <% end %>
    </ul>
</div>
